.footer {
  width: 100%;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: left;
  background-color: #39445a;
  box-shadow: 0px 1px 5px black;
  color: white;
  padding: 0;
  z-index: 100;
  height: fit-content;
  font-family: monospace;
  font-size: smaller;
  /* height: 2rem; */
}
